{% extends "base.html"%}

{% block cuerpo %}
<div class="row">
<div class="col-md-4 offset-md-4">
   <!--La tarjeta card-->
   <div class="card"><!--Tarjeta-->
      <div class="card-body">
        <form action="/editarproducto/" method="POST"> {% csrf_token %}<!--formulario-->
          <div class="form-group">
            <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" value={{misproductos.codigo}} minLenght="6" maxLenght="6" readonly required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{misproductos.nombre}}"maxLenght="100" required>
          </div>
          <div class="form-group py-2">
            <input type="text" id="numcreditos" name="numcreditos" class="form-control" value="{{misproductos.creditos}}"  min="1" max="9" required>
          </div>
          <div class="form-group py-2">
          <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>

</div><!--columna-->

</div>
{% endblock %}