{% extends "base.html"%}
{% load static %}
{% block cuerpo %}
<div class="row"><!---la fila-->
<div class="col-sm-12 col-md-4 col-lg-4  col-xl-4"><!--columna izquierda-->
    <h1>agregar empleados</h1>
    <div class="card"><!--Tarjeta-->
      <div class="card-body">
        <form action="/registrarEmpleado/" method="POST"> {% csrf_token %}<!--formulario-->

          <div class="form-group">
            <input type="text" id="txtid_empleado" name="txtid_empleado" class="form-control" placeholder="id trabajador" minLenght="6" maxLenght="6" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtcurp" name="txtcurp" class="form-control" placeholder="curp" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="numtelefono" name="numtelefono" class="form-control" placeholder="telefono" maxLenght="20" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtapellido" name="txtapellido" class="form-control" placeholder="apellido" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="direccion" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtemail" name="txtemail" class="form-control" placeholder="email" maxLenght="100" required>
          </div>

          <div class="form-group">
            <input type="date" id="txtfechadeingreso" name="txtfechadeingreso" class="form-control" placeholder="fechadeingreso" maxLenght="100" required>
          </div>


          <div class="form-group py-2">
          <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>

</div>
<div class="col-sm-12 col-md-4 col-lg-8 col-xl-8"><!--columna derecha-->
    <h1>Listado de empleados</h1>
    <img src="{% static "img/local.jpg" %}" alt="alexis" width="300" height="300">
    <div class="table-responsive"> <!--tabla responsiva-->
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">id empleado</th>
                <th scope="col">curp</th>
                <th scope="col">telefono</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">direccion</th>
                <th scope="col">email</th>
                <th scope="col">fechadeingreso</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for m in misempleados %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.id_empleado}}</td>
                <td>{{m.curp}}</td>
                <td>{{m.telefono}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.apellido}}</td>
                <td>{{m.direccion}}</td>
                <td>{{m.email}}</td>
                <td>{{m.fechadeingreso}}</td>

                <td><a href="seleccionarEmpleado/{{m.id_empleado}}" class="btn btn-info">Editar</td> <!--falta link-->
                  <td><a href="borrarEmpleado/{{m.id_empleado}}" class="btn btn-danger">Borrar</td> <!--falta link-->
                
            </tr>
            {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}
