{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Editar Producto</h1>
        <form action="/editarProducto/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="txtid_producto" name="txtid_producto" class="form-control" value="{{ misproductos.id_producto }}" maxlength="6" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{ misproductos.nombre }}" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="number" id="numprecio" name="numprecio" class="form-control" value="{{ misproductos.precio }}" required>
            </div>
            <div class="form-group">
                <input type="number" id="numcantidad" name="numcantidad" class="form-control" value="{{ misproductos.cantidad }}" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtstock" name="txtstock" class="form-control" value="{{ misproductos.stock }}" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtlote" name="txtlote" class="form-control" value="{{ misproductos.lote }}" maxlength="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
