{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4">
        <h1>Registrar Producto</h1>
        <form action="/registrarProducto/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="txtid_producto" name="txtid_producto" class="form-control" placeholder="ID Producto" maxlength="6" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="number" id="numprecio" name="numprecio" class="form-control" placeholder="Precio" required>
            </div>
            <div class="form-group">
                <input type="number" id="numcantidad" name="numcantidad" class="form-control" placeholder="Cantidad" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtstock" name="txtstock" class="form-control" placeholder="Stock" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtlote" name="txtlote" class="form-control" placeholder="Lote" maxlength="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <div class="col-md-8">
        <h1>Listado de Productos</h1>
        <img src="{% static "img/local.jpg" %}" alt="alexis" width="300" height="300">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Stock</th>
                    <th>Lote</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in misproductos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.id_producto }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>{{ p.stock }}</td>
                    <td>{{ p.lote }}</td>
                    <td><a href="seleccionarProducto/{{ p.id_producto }}" class="btn btn-info">Editar</a></td>
                    <td><a href="borrarProducto/{{ p.id_producto }}" class="btn btn-danger">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
